
body {
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
}

h1 {
 color: #66BFBF;
 font-size: 3.5rem;
 margin: 50px auto 0 auto;
 font-family: 'Sacramento', cursive;
 line-height = 2;

}

h2 {
    font-weight: normal;
    color: #66BFBF;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
 color: #11999E;
 font-family: 'Montserrat', sans-serif;
}

.top-container {
            background-color: #EAF6F6;
            position: relative;
            padding-top: 100px;
}

.bottom-container {
            background-color: #11999E;
            padding: 50px 0 50px 0;
}


hr {
  color: grey;
  border-style: dotted none none;
  border-width: 5px;
  width: 100px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.contact-me {
        margin-bottom: 70px;
}

.profile-photo {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 100px;
}
.meme {
    height: 180px;
    width: 180px;
    float: left;
    margin: 0 30px 0 0;
}
.football {
    height:180px;
    width: 180px;
    border-radius: 100%;
    float: right;
    margin: 0 30px 0 30px;
}
.bottom-cloud {
        position: absolute;
        left: 500px;
        bottom: 300px;
}

.top-cloud {
        position: absolute;
        right: 500px;
        top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
    line-height: 2;
}
a {
 color: black;
}
a:hover {
   color: #FFFFFF
}

.copyright {
        color: white;
}
.contact-button {
   margin-top: 50px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   background-color: #11999E;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #11999E 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.contact-button:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.Map-quiz {
   margin-top: 30px;
   margin-bottom: 70px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 26px;
   font-weight: 100;
   padding: 22px;
   background-color: #11999E;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.Map-quiz:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
